### Dictionary
- dictionary is a collection of unordered items stored in the form of key and value pair we have seperate key value pair by using symbol : (colon) 
- creating dictionary

    1.dict()
    2.symbol {} curly braces

In [1]:
oxford = dict()
print(type(oxford))

oxford2 = {}
print(type(oxford2))

<class 'dict'>
<class 'dict'>

In [2]:
students = {'CSE501':'Satyavani','CSE502':'Vyshnavi'}

In [3]:
print(students)

{'CSE501': 'Satyavani', 'CSE502': 'Vyshnavi'}

In [4]:
len(students)

2

In [5]:
#we can use for-loop for dictionary


for each in students:
    print(each)

CSE501
CSE502

In [6]:
for rollnumber in students:
    print(rollnumber)

CSE501
CSE502

 - how to print values in dict using keys?

- DictVariable[key]

In [7]:
students

{'CSE501': 'Satyavani', 'CSE502': 'Vyshnavi'}

In [8]:
students["CSE501"]

'Satyavani'

In [9]:
students["CSE509"]

KeyError: 'CSE509'

- How to print all the values only in dict using for-loop

In [10]:
for rollnumber in students:
    print(students[rollnumber])

Satyavani
Vyshnavi

- How to add new item into dictionary?

- dictVariable[newKey] = value

In [12]:
students

{'CSE501': 'Satyavani', 'CSE502': 'Vyshnavi'}

In [13]:
students['CSE03'] = 'Prasanth'

In [14]:
students

{'CSE501': 'Satyavani', 'CSE502': 'Vyshnavi', 'CSE03': 'Prasanth'}

- How to update value for existing key?

- dictVariable[key] = newValue

In [16]:
students

{'CSE501': 'Satyavani', 'CSE502': 'Vyshnavi', 'CSE03': 'Prasanth'}

In [17]:
students['CSE501'] = 'Harika'

In [18]:
students

{'CSE501': 'Harika', 'CSE502': 'Vyshnavi', 'CSE03': 'Prasanth'}

In [19]:
names = {'cse501':'harika','cse501':'vysnavi'}

print(names)

{'cse501': 'vysnavi'}

- Methods in dictionary

- clear()

- to remove all the items in dictionary

In [20]:
names

{'cse501': 'vysnavi'}

In [21]:
names.clear()

In [22]:
names

{}

- copy()

- to take another copy from existing

In [23]:
students

{'CSE501': 'Harika', 'CSE502': 'Vyshnavi', 'CSE03': 'Prasanth'}

In [24]:
names = students.copy()
names

{'CSE501': 'Harika', 'CSE502': 'Vyshnavi', 'CSE03': 'Prasanth'}

In [25]:
names["alekhya"]="hh"

In [26]:
names

{'CSE501': 'Harika',
 'CSE502': 'Vyshnavi',
 'CSE03': 'Prasanth',
 'alekhya': 'hh'}

In [27]:
students

{'CSE501': 'Harika', 'CSE502': 'Vyshnavi', 'CSE03': 'Prasanth'}

fromkeys(collection_of_keys,optional_default_value)

In [28]:
keys = ['cse501','cse502','cse503']

{}.fromkeys(keys)

{'cse501': None, 'cse502': None, 'cse503': None}

In [29]:
keys = ['cse501','cse502','cse503']

{}.fromkeys(keys,100)

{'cse501': 100, 'cse502': 100, 'cse503': 100}

- get(key,defaultValue)

- to get value for given key

In [31]:
students

{'CSE501': 'Harika', 'CSE502': 'Vyshnavi', 'CSE03': 'Prasanth'}

In [32]:
students.get('CSE03')

'Prasanth'

In [33]:
print(students.get('CSE05'))

None

In [34]:
students

{'CSE501': 'Harika', 'CSE502': 'Vyshnavi', 'CSE03': 'Prasanth'}

In [37]:
print(students.get('CSE05','roll number not found'))

roll number not found

In [38]:
print(students.get('CSE03','roll number not found'))

Prasanth

- keys() to get all the keys in dict

In [39]:
students.keys()

dict_keys(['CSE501', 'CSE502', 'CSE03'])

- pop(key) to remove the item related to given if available otherwise keyError

In [40]:
students

{'CSE501': 'Harika', 'CSE502': 'Vyshnavi', 'CSE03': 'Prasanth'}

In [41]:
students.pop('CSE502')

'Vyshnavi'

In [42]:
students

{'CSE501': 'Harika', 'CSE03': 'Prasanth'}

- while using pop method if key not available

In [43]:
students.pop('CSE05')

KeyError: 'CSE05'

In [44]:
students.pop()

TypeError: pop expected at least 1 arguments, got 0

- popitem()

- to remove one item in the dictionay

In [45]:
students

{'CSE501': 'Harika', 'CSE03': 'Prasanth'}

In [46]:
students.popitem()

('CSE03', 'Prasanth')

In [47]:
students

{'CSE501': 'Harika'}

In [48]:
- find the frequency of characters in given name?

Object `name` not found.

- find the frequency of characters in given name

In [49]:
name = "Sravanakalhari"
freq = {}

for each in name:
    freq[each] = name.count(each) 

print(freq)

{'S': 1, 'r': 2, 'a': 5, 'v': 1, 'n': 1, 'k': 1, 'l': 1, 'h': 1, 'i': 1}

- values()

- to get all the values from dictionary

In [51]:
students = {'CSE01':'Anjali','CSE02':'BHAVANI',
            'CSE03':'Supriya','CSE04':'SRINIVAS'}

In [52]:
students

{'CSE01': 'Anjali',
 'CSE02': 'BHAVANI',
 'CSE03': 'Supriya',
 'CSE04': 'SRINIVAS'}

In [53]:
students.values()

dict_values(['Anjali', 'BHAVANI', 'Supriya', 'SRINIVAS'])

- items()

- to get all the items

In [54]:
students.items()

dict_items([('CSE01', 'Anjali'), ('CSE02', 'BHAVANI'), ('CSE03', 'Supriya'), ('CSE04', 'SRINIVAS')])

- setdefault(key,optionalValue)

- it can add new item if given key not available

In [55]:
names = {'1':'a','2':'b'}

In [58]:
names.setdefault('9','c')

'c'

In [60]:
names.setdefault('1','c')

'a'

In [61]:
names

{'1': 'a', '2': 'b', '9': 'c'}

- update(newdict)

In [63]:
oxfordDict = {'home':'house','mobile':'contact number'}

In [64]:
newUpdate = {'mobile':'phone number','adhar':'indian identity'}

In [65]:
oxfordDict.update(newUpdate)

In [66]:
oxfordDict

{'home': 'house', 'mobile': 'phone number', 'adhar': 'indian identity'}

In [41]:
#examples
a = {"names":["alekhya","archana"],"rollnumber":["4567890",23456789]}
a["names"]
a["rollnumber"][1]

a1 = {"names":["alekhya","archana"],"rollnumber":["4567890",23456789,(908765,3456789)]}
a1["rollnumber"][2][0]

a2 = {"names":{"alekhya":"archana"},"rollnumber":{"4567890":23456789}}

a2["names"]["alekhya"]

'archana'

- contact application

In [16]:
contact={}
def contactapp(name,number):
    if name not in contact:
        contact[name]=number
        print(name," contact is updated")
        
    else:
        print(name ,"is already exists")
    return contact

contactapp("archana",3456789)
contactapp("alekhya",3456789456789)

contactapp("alekhya",3456789456789)

archana  contact is updated
alekhya  contact is updated
alekhya is already exists

{'archana': 3456789, 'alekhya': 3456789456789}

- Search for the number and if number is exist, print name and number otherwise, print number does not exist

In [23]:
def searchcont(name,number):
    if name in contact:
        print(name,":",contact[name],"already exists")
    else:
        
        print(name,"contact is notexists")
searchcont("alekhya",45678)
searchcont("muni",45678)

alekhya : 3456789456789 already exists
muni contact is notexists

In [20]:
contact

{'archana': 3456789, 'alekhya': 3456789456789, 'parvathi': 45678}

- Update your contacts in contact application

In [25]:
def updatecont(newcontact):
    contact.update(newcontact)
    print(len(newcontact.keys()),"contact added")
newcontact = {"munichandraiah":9087654321}
newcontact = {"alekhya":8976543210}
updatecont(newcontact)

1 contact added

In [26]:
contact

{'archana': 3456789,
 'alekhya': 8976543210,
 'parvathi': 45678,
 'munichandraiah': 9087654321}