Python function definition
A function is a block of reusable code that is used to perform a specific action. The advantages of using functions are:

Reducing duplication of code
Decomposing complex problems into simpler pieces
Improving clarity of the code
Reuse of code
Information hiding

Python function types
There are two basic types of functions: built-in functions and user defined functions. The built-in functions are part of the Python language; for instance dir(), len(), or abs(). The user defined functions are functions created with the def keyword.

In [1]:
import builtins

In [2]:
dir(builtins)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [3]:
a=10
b=30
#c=40
sum((a,b))

40

In [4]:
a = "apssdc"
max(a)

's'

In [5]:
min(a)

'a'

In [9]:
ord("a")

97

In [10]:
chr(97)

'a'

In [11]:
abs(-78)

78

In [12]:
pow(4,5)

1024

In [17]:
bin(10)

'0b1010'

In [18]:
hex(15)

'0xf'

In [19]:
oct(9)

'0o11'

In [22]:
help(ascii)

Help on built-in function ascii in module builtins:

ascii(obj, /)
    Return an ASCII-only representation of an object.

    As repr(), return a string containing a printable representation of an
    object, but escape the non-ASCII characters in the string returned by
    repr() using \\x, \\u or \\U escapes. This generates a string similar
    to that returned by repr() in Python 2.

In [23]:
ascii(2)

'2'

In [24]:
# user defined function

def add():
    c=4+6
    return c
add()

10

An argument is a variable, value or object passed to a function or method as input. Positional arguments are arguments that need to be included in the proper position or order.

The first positional argument always needs to be listed first when the function is called. The second positional argument needs to be listed second and the third positional argument listed third, etc.

In [43]:
# positional arguments or required arguments
def add(marks,names):
    print(marks,names)
add("Ayyapa sir",5)

Ayyapa sir 5

You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

In [41]:

# keyword arguments
def student(name,marks):
    print(name)
    print(marks+10)

In [29]:
student(marks=70,name="surya sir")

surya sir
80

In [31]:
# default arguments
def default(a,b="ravikishore"):
    return a,b
default(2)

(2, 'ravikishore')

In [32]:
# default arguments
def default(a,b="ravikishore"):
    return a,b
default(2,7)

(2, 7)

In [36]:
# variable_length argument
def variable_LENGTH(*a):
   
    print(a)
variable_LENGTH(1,8,7,6,5)

(1, 8, 7, 6, 5)

In [37]:
def var1(*a):
    return sum(a)
var1(1,2,3,4,56,)

66

- keyword_length argument

In [38]:
def person(name,**kwlen):
    print(name)
    print(kwlen)
person(name="ravikishore",age=25,place="srikakulam",ph=989898989)

ravikishore
{'age': 25, 'place': 'srikakulam', 'ph': 989898989}

In [46]:
def even(a):
    if a%2==0:
        return True
    return False
even(9)

False

In [52]:
def addrange(a,b):
    for i in range(a,b+1):
        if even(i):
            print(i)
#addrange(1,10)
addrange(int(input()),int(input()))

1
100
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [53]:
def tables(a):
    for i in range(1,10):
        print(a,"*",i,"=",a*i)
tables(10)

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90

In [59]:
def tablesrange(c,d):
    for i in range(c,d):
        print(i,"table")
        
        for j in range(1,11):
            print(i,"*",j,"=",i*j)
        print("table completed")
        print("***************")
        print("\n")
tablesrange(1,5)

1 table
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
table completed
***************


2 table
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
table completed
***************


3 table
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
table completed
***************


4 table
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
table completed
***************

In [18]:
# prime numbers b/w the range


def prime(a):
    
    c=0
    for i in range(1,a+1):
        if a%i==0:
            c+=1
            
    if c==2:
        return True
    return False
prime(5)

True

In [19]:
def primes(a,b):
    for i in range(a,b+1):
        if prime(i):
            print(i,"prime")
        else:
            print(i,"not")
primes(1,19)

1 not
2 prime
3 prime
4 not
5 prime
6 not
7 prime
8 not
9 not
10 not
11 prime
12 not
13 prime
14 not
15 not
16 not
17 prime
18 not
19 prime

In [21]:
for i in range(1,101):
    if prime(i):
        print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [73]:
def factran(a,b):
    f=1
    for i in range(a,b+1):
        for j in range(1,i+1):
            f = f*j
        print(j,"-",f)
factran(5,10)

5 - 120
6 - 86400
7 - 435456000
8 - 17557585920000
9 - 6371296778649600000
10 - 23120161750363668480000000

In [17]:
# decimal number to binaruy
#next binary to decimal
a = int(input())
x = bin(a)
#print(int(x,2))
print(x)

34
0b100010

In [11]:
a=bin(50)
a

'0b110010'

In [12]:
#a=10101
int(a,2)

50

In [22]:
# find the index of character 'p'
name = "python programming"
for i in range (0,len(name)):
    if(name[i]=='p'):
        print('charcter p avaiable at index ',i)

charcter p avaiable at index  0
charcter p avaiable at index  7

In [ ]:
#print the sum the given input in single digit

In [26]:
def luckyNumber(number):
    number = str(number)
    print('number ',number)
    total = 0
    for each in number:
        total += int(each)
        #print(total)
    if total > 9:
        return luckyNumber(total)
    
    return total
luckyNumber('12345')

number  12345
number  15

6

#### DataStructures
- list
- tuple
- set
- dictionary

In [ ]:
List
list is a group of or collection of items or python valid items or objects

we can create list with different ways

default function list()
by using symbol [] square brckets

In [27]:

marks = list()

In [28]:
#How to check type of variable
print(type(marks))

<class 'list'>

In [29]:
#How many items in marks?
print(len(marks))

0

In [30]:
names = [
    "Supriya", "Padmini","SRINIVAS RAO",
    "SRAVANAKALHARI","SATYA VANI"
]

In [31]:
print(len(names))

5

List indexing

forward      0    len(items)-1 
reverse     -len()              -1

In [33]:
names

['Supriya', 'Padmini', 'SRINIVAS RAO', 'SRAVANAKALHARI', 'SATYA VANI']

In [34]:
print(names[1])

Padmini

In [35]:
print(names[-3])

SRINIVAS RAO

In [36]:
bio_data = ['Supriya','CSE',90,True]

In [37]:
bio_data

['Supriya', 'CSE', 90, True]

In [ ]:
List slicing

In [38]:

names[1:]

['Padmini', 'SRINIVAS RAO', 'SRAVANAKALHARI', 'SATYA VANI']

In [39]:
names[1:4]

['Padmini', 'SRINIVAS RAO', 'SRAVANAKALHARI']

In [40]:
names[::2]

['Supriya', 'SRINIVAS RAO', 'SATYA VANI']

Methods in list
Note: List is mutable

mutable means we can modify or change

In [41]:
names

['Supriya', 'Padmini', 'SRINIVAS RAO', 'SRAVANAKALHARI', 'SATYA VANI']

In [44]:
print(dir((list)))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

How to add new item into list

listVar.append(newItem) it appends the given new item into existing list at the ending

In [45]:
names.append('Raju')

In [46]:
names

['Supriya', 'Padmini', 'SRINIVAS RAO', 'SRAVANAKALHARI', 'SATYA VANI', 'Raju']

In [47]:
names.append()

TypeError: append() takes exactly one argument (0 given)

In [48]:
raju_marks = [100,20,40]
ramu_marks = raju_marks

In [49]:
print(raju_marks)
print(ramu_marks)

[100, 20, 40]
[100, 20, 40]

In [50]:
ramu_marks.append(1000)
print(ramu_marks)

[100, 20, 40, 1000]

In [51]:
print(raju_marks)

[100, 20, 40, 1000]

copy()

In [52]:
raju_marks = [10,20,30]
ramu_marks = raju_marks.copy()

In [53]:
ramu_marks.append(1000)
print(ramu_marks)
print(raju_marks)

[10, 20, 30, 1000]
[10, 20, 30]

extend(collection_or_group_of_items)

In [54]:
oxford_dict = ['home','people','birds']
newWord = ['adhar','Digital privacy']

In [55]:
oxford_dict.extend(newWord)
print(oxford_dict)

['home', 'people', 'birds', 'adhar', 'Digital privacy']

In [56]:
oxford_dict = ['home','people','birds']
newWord = ['adhar','Digital privacy'] 
oxford_dict.append(newWord)
print(oxford_dict)

['home', 'people', 'birds', ['adhar', 'Digital privacy']]

In [57]:
print(len(oxford_dict))

4

print only adhar item from oxford dict

In [60]:
print((oxford_dict[3][1]))

Digital privacy

count(item)

In [61]:
names

['Supriya', 'Padmini', 'SRINIVAS RAO', 'SRAVANAKALHARI', 'SATYA VANI', 'Raju']

In [62]:
names.count('Padmini')

1

In [63]:
numbers = [1,2,3,4,1,2,4,1]
numbers.count(1)

3

How to find index of given item

index(item)

In [64]:
names

['Supriya', 'Padmini', 'SRINIVAS RAO', 'SRAVANAKALHARI', 'SATYA VANI', 'Raju']

In [65]:
names.index('SRINIVAS RAO')

2

In [66]:
numbers

[1, 2, 3, 4, 1, 2, 4, 1]

In [67]:
numbers.index(4)

3

In [68]:
numbers.index(1)

0

index(item,index_of_search_starting)

In [69]:
numbers

[1, 2, 3, 4, 1, 2, 4, 1]

In [70]:
numbers.index(1,3)

4


insert(index,item)

In [71]:
numbers = [1,2,3,4,5]
numbers.insert(2,6)
print(numbers)

[1, 2, 6, 3, 4, 5]

updating the item

In [72]:
numbers[2] = 16
print(numbers)

[1, 2, 16, 3, 4, 5]

In [73]:
numbers = [1,2,3]
numbers.insert(100,1000)
print(numbers)

[1, 2, 3, 1000]

to remove the item at particular index pop(index)